.page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.article-card {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.article-img {
  width: 200px;
  margin-bottom: 8px;
}

.articles-title {
  text-align: center;
}

header {
  text-align: center;
}

.article-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.article-card:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
